<template>
    <div>
        Say hello to:
        <input type="text" id="itemInput" v-model="newItem" />
        <input type="button" value="Go" v-on:click="addToList"/>
        <ul>
            <li v-for="item in helloList">{{greeting}} <span v-text="item"></span>!</li>
        </ul>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                newItem: null,
                helloList: []
            };
        },
        methods: {
            addToList: function() {
                this.helloList.push(this.newItem);
            }
        },
        props: {
            greeting: String
        }
    }
</script>
